$primary: #f93943;
$secondary: #fa6068;
$white: #fff;
$gray: #9b9b9b;
$darkGray: #2e2e2e;
$highPercentageLeft: #01DCB3;
$highPercentageRight: #70ebd3;
$mediumPercentageLeft: #FFC103;
$mediumPercentageRight: #ffdb71;
$lowPercentageLeft: #FF0100;
$lowPercentageRight: #ff706f;

.loaderBox {
  width: 99vw;
  height: 98vh;
}

.loaderGif {
  width: 300px;
  z-index: 9999;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.starmind-logo-suggestion {
  padding-left: 50px;
  margin-top: 20px;
}

.rightNav {
  float: right;
  margin-top: -20px;
  padding-right: 50px;

  span {
    font-family: 'Roboto', sans-serif;
    margin-right: 20px;
  }

  img {
    border-radius: 50%;
    height: 50px;
    width: 50px;
    margin-top: 25px;
    border: 2px solid #e7e7e7;
    box-shadow: 0px 5px 20px #e7e7e7;
  }
}

.greets {
  font-size: 70px;
  font-weight: bold;
  padding: 25px;
  margin-bottom: 100px;

  div {
    font-size: 30px;
    font-weight: normal;
    margin-top: 20px;

    span {
      font-weight: bold;
    }
  }
}

.suggestionBoxWrapper {
  max-width: 1000px;
  margin: auto;
  margin-top: 150px;
}

.suggestion-box {
  border: 2px solid rgba(255,255,255,0.6) 1px;
  margin: 25px 25px 25px 25px;
  padding: 5px;
  padding-top: 8px;
  border-radius: 20px;
  margin-bottom: 50px;
  box-shadow: 0  5px 10px rgba(154,160,185,0.2), 0 15px 40px rgba(166,173,201,0.2);
  transition: 0.2s;

  &:hover {
    transform: scale(1.015);
    transition: 0.2s;
  }

  .suggestionTexts {
    padding: 30px;
  }

  &:hover {
    cursor: pointer;
  }

  .suggestion-title {
    font-size: calc(10px + 2vmin);
    font-weight: bold;
    margin-bottom: 10px;
  }

  .suggestion-description {
    font-size: calc(8px + 1vmin);
    font-weight: lighter;
  }
}

.outerPercentage {
    height: 34px;
    width: 99%;
    border: 3px solid #f3f3f7;
    border-radius: 25px;
    margin-bottom: -5px;
    text-align: center;
    background-color:#f5f5f8;
  }

  .innerPercentage {
    margin: 0px;
    height: 34px;
    border-radius: 18px;

    div {
      font-style: italic;
      font-weight: bolder;
      color: #fff;
      font-size: 22px;
      padding-top: 3px;
      text-shadow: 0px 0px 5px rgba(154,160,185, 1);
    }
  }
  .p1 {
    width: 100%;
    background: linear-gradient(90deg, $highPercentageLeft, $highPercentageRight);
  }
  .p2 {
    width: 95%;
    background: linear-gradient(90deg, $highPercentageLeft, $highPercentageRight);
  }
  .p3 {
    width: 90%;
    background: linear-gradient(90deg, $highPercentageLeft, $highPercentageRight);
  }
  .p4 {
    width: 85%;
    background: linear-gradient(90deg, $highPercentageLeft, $highPercentageRight);
  }
  .p5 {
    width: 80%;
    background: linear-gradient(90deg, $highPercentageLeft, $highPercentageRight);
  }
  .p6 {
    width: 75%;
    background: linear-gradient(90deg, $highPercentageLeft, $highPercentageRight);
  }
  .p7 {
    width: 70%;
    background: linear-gradient(90deg, $highPercentageLeft, $highPercentageRight);
  }
  .p8 {
    width: 65%;
    background: linear-gradient(90deg, $mediumPercentageLeft, $mediumPercentageRight);
  }
  .p9 {
    width: 60%;
    background: linear-gradient(90deg, $mediumPercentageLeft, $mediumPercentageRight);
  }
  .p10 {
    width: 55%;
    background: linear-gradient(90deg, $mediumPercentageLeft, $mediumPercentageRight);
  }
  .p11 {
    width: 50%;
    background: linear-gradient(90deg, $mediumPercentageLeft, $mediumPercentageRight);
  }
  .p12 {
    width: 45%;
    background: linear-gradient(90deg, $mediumPercentageLeft, $mediumPercentageRight);
  }
  .p13 {
    width: 40%;
    background: linear-gradient(90deg, $mediumPercentageLeft, $mediumPercentageRight);
  }
  .p14 {
    width: 35%;
    background: linear-gradient(90deg, $lowPercentageLeft, $lowPercentageRight);
  }
  .p15 {
    width: 30%;
    background: linear-gradient(90deg, $lowPercentageLeft, $lowPercentageRight);
  }
  .p16 {
    width: 25%;
    background: linear-gradient(90deg, $lowPercentageLeft, $lowPercentageRight);
  }
  .p17 {
    width: 20%;
    background: linear-gradient(90deg, $lowPercentageLeft, $lowPercentageRight);
  }
  .p18 {
    width: 15%;
    background: linear-gradient(90deg, $lowPercentageLeft, $lowPercentageRight);
  }
  .p19 {
    width: 10%;
    background: linear-gradient(90deg, $lowPercentageLeft, $lowPercentageRight);
  }
  .p20 {
    width: 5%;
    background: linear-gradient(90deg, $lowPercentageLeft, $lowPercentageRight);
  }
  .p21 {
    width: 0;
    background: linear-gradient(90deg, $lowPercentageLeft, $lowPercentageRight);
  }

.flexBox {
  display: flex;
  flex-flow: row;
  .half-div {
	width: 50%;
  }
  .quarter-div {
	  width: 25%;
  }
}





.suggestion-skill-box {
	display: flex;
	flex-flow: column;
	
}
.flex-wrapper {
	flex-flow: row;
	  
	.fitting-essential-skill, .fitting-optional-skill {
		width: 300px;
		display: inline-table;
		padding: 3px;
	}
	.missing-essential-skill, .missing-optional-skill {
		color: gray;
		width: 300px;
		display: inline-table;
		padding: 3px;
		transition: 0.2s;

		&:hover {
			transform: scale(1.02);
			transition: 0.2s;
			cursor: pointer;
			text-decoration: underline;
		}
	}
}

.checkIcon, .missingIcon {
	height: 15px;
	margin-right: 10px;
}


.loadMore {
  position: absolute;
  margin: auto;
  left: 48.5%;
  margin-bottom: 100px;
  margin-top: 30px;


  &:hover {
    cursor: pointer;
  }
}

.chevDown {
  padding: 10px;
  border-radius: 50%;
  box-shadow: 0px 5px 20px #e7e7e7;
}

.modalStyle {
	max-width: 650px;
	margin: auto;
	margin-top: 150px;
	background-color: $white;
	padding: 30px;
	border-radius: 20px;
	border: 1px solid rgba(154,160,185,0.2);
	box-shadow: 0  5px 10px rgba(154,160,185,0.2), 0 15px 40px rgba(166,173,201,0.2);
	max-height: calc(100vh - 300px);
    overflow-y: auto;

	&:focus {
		outline: none;
	}

	.ModalName {
		font-family: 'Roboto' sans-serif;
		font-size: 35px;
		font-weight: bold;
		border-bottom: 1px solid rgba(0,0,0, 0.1);
		padding-bottom: 10px;
		margin-bottom: 20px;
		margin-top: -30px;
		position: fixed;
		background-color: white;
		padding-top: 30px;
		width: 650px;
	}

	.modalCloseButton {
		float: right;
		opacity: 0.3;

		&:hover {
			cursor: pointer;
		}
	}

	.modalJobDescription {
		border-bottom: 1px solid rgba(0,0,0, 0.1);
		padding-bottom: 20px;
		margin-bottom: 20px;
		margin-top: 80px;

		span {
			font-size: 17px;
		}
	}

	.modalPercentage {
		margin-bottom: 20px;
	}

	.skillMatches {
		border-bottom: 1px solid rgba(0,0,0, 0.1);
		padding-bottom: 20px;
		margin-bottom: 20px;
	}

	.teamMeet{
		border-bottom: 1px solid rgba(0,0,0, 0.1);
		padding-bottom: 20px;
		margin-bottom: 20px;

		div {
			margin-top: 10px;
		}
	}
}

.teamPic {
	width: 70px;
	margin: auto;
	border-radius: 50%;
	border: 1px solid lightgrey;
	box-shadow: 0  5px 10px rgba(154,160,185,0.2), 0 15px 40px rgba(166,173,201,0.2);
	margin-bottom: -7px;
}

.center {
	text-align: center;
}

.hrPicColoumn {
	margin-top: 60px;
	width: 200px;
	text-align: center;
	margin-left: -50px;

}
.hrManagerPic {
	width: 80px;
	border-radius: 50%;
	border: 1px solid lightgrey;
	box-shadow: 0  5px 10px rgba(154,160,185,0.2), 0 15px 40px rgba(166,173,201,0.2);
}
.hrTitle {
	margin-top: -20px;
}
.hrContactColoumn {
	float: right;
	width: 350px;
	height: 160px;
	margin-top: 50px;
	padding-top: 30px;
	display: inline-block;

	.phoneIcon, .envelopeIcon {
		height: 25px;
		margin-right: 10px;
		display: inline-block;
	}

	.phoneIcon {

	}
}

.contactLine {
}